/*Общие настройки*/

	body {
		font-family: "Work Sans", sans-serif;
		background-color: #fff;
		margin-right: auto;
    margin-left: auto;
		margin-top: 0px;
		font-family: var(--bs-body-font-family);
		font-size: var(--bs-body-font-size);
		font-weight: var(--bs-body-font-weight);
		line-height: var(--bs-body-line-height);
		color: var(--bs-body-color);
		text-align: var(--bs-body-text-align);

	}
	#main-block {
		min-width: 290px;
		max-width: 1500px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	.main-contaner, footer {
			margin-top: 10px; /*Внешний отступ*/
	}

	article, aside, .footer-block {
			border-radius: 13px;
	}

  /*Стиль для одинаковых боксов*/

  .all_box{
  	border-radius: 13px;
  	padding: 20px;
  	margin: 0 47px 30px 0;
  }

	.all_box h3{
		font-size: clamp(2rem, 3vw, 5rem);
		margin-left: auto;
		margin-right: auto;
	}
