/**Статьи*/
.main-contaner {
		min-height: 300px; /* Высота блока */
		width: 100%; /* Ширина блока */
		display: grid;
		grid-template-columns: 3fr  0fr 1fr;
		margin-right: auto;
		margin-left: auto;
		max-width: 1100px;

}

main {
		min-height: 298px; /* Высота блока */
		margin-right: 10px;
}

article{
		width: 600px;
		margin: 0 0 30px 0;
		-webkit-box-shadow: 0 0 10px #a6bdbc;
		border-width: 0px 0px 0px 0px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 15px;

}
.info{
	display: flex;
}

.article-button{
		border: 1px solid rgb(0,80,120);
		border-radius: 8px;
		height: 40px;
		width: 60px;
	  background-color: #ca0000;
		color: #eee;
		background-color: #008eff;
		border-width: 0px;
		cursor: pointer;
	}

	article h2{
		font-size: 18px;
		margin-bottom: 18px;
		color: #4D4C7D;
	}

	article p{
		margin-block-start: 10px;
		margin-block-end: 0;
		color:#676e71;
		overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
	line-height: 1.3em;
	margin-bottom: 16px;
	}
	.article-foot{
		display: grid;
		grid-template-columns: 1fr 120px;
		height: 20px;
		font: small-caption;
		color: black;
		margin-bottom: 12px;
	}

	.article-open-button{
		color: black;
		position: relative;
		cursor: pointer;
		text-decoration: none;
		border-bottom: 2px solid #214252;
}

.info p{
margin-top: 7px;
color: gray;
font-size: 13px;
}

 .article-u-button{
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;

}

.desc{
	color: gray;
	font-size: 13px;
  padding-top: 1px;
}


.art-create{
	bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


#circle {
      width: 30px;
      height: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      background: #efefef;
			margin-right: 16px;
    }

#page{
	text-decoration: none;
	font-size: 80%;
	text-align: center;
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	background: #214252;
	color: #fff;
	margin-right: 5px;
}

#h1_page{
	    margin-left: 10px;
}


/*Добавление статьи*/
#article_add{
	display: grid;
}

#article_edit{
	display: grid;
}

.text{
	font-weight: 400;
font-size: 15px;
color: #848d92;
}

.flex{
	display: flex;
}
