aside {
  min-height: 298px; /* Высота блока */
  max-height: 520px;
  text-align: center;
  padding: 10px;
  border-width: 0px 0px 0px 0px;
}

/*Формы регистрации и авторизации*/

#lp{
margin: 10px 0;
padding: 10px;
border: unset;
border-bottom: 2px solid #214252;
}

#lpb{
padding: 10px 25px;
border: none;
cursor: pointer;
border-radius: 10px;
text-decoration: none;
color: #fff;
background-color: #214252;
font-size: 12px;
font-weight: 600;
letter-spacing: .1rem;
text-transform: uppercase;
}

#reg{
color: #7573ab;
font-weight: bold;
text-decoration: none;
cursor: pointer;
}

#registerBox{
  margin-left: auto;
  margin-right: auto;
}

._box{
  border: 1px solid rgb(125,132,107);
  background-color: rgb(235,232,217);
  border-radius: 13px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;

}


.forma2{
margin-left: 20px;
text-align: center;
}

.massage{
border-radius: 3px;
padding: 10px;
text-align: center;
font-weight: bolder;
color: rgb(153 7 12);
}

.comm h3{
  font-size: 18px;
color: #000;
font-weight: 400;
margin-bottom: 30px;
padding-bottom: 20px;
border-bottom: 1px solid #e6e6e6;
}
