aside {
  min-height: 298px; /* Высота блока */
  max-height: 520px;
  text-align: center;
  padding: 10px;
  border-width: 0px 0px 0px 0px;
}

/*Формы регистрации и авторизации*/

#lp{
margin: 10px 0;
padding: 10px;
border: unset;
border-bottom: 2px solid #2196f3;
background-color:  #e9ecee;
}

#lpb{
padding: 10px 25px;
color: #eee;
border: none;
background-color: #008eff;
cursor: pointer;
border-radius: 10px;
text-decoration: none;
}

#reg{
color: #7573ab;
font-weight: bold;
text-decoration: none;
cursor: pointer;
}

#registerBox{
  margin-left: auto;
  margin-right: auto;
}

._box{
  border: 1px solid rgb(125,132,107);
  background-color: rgb(235,232,217);
  border-radius: 13px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;

}

.forma1{
padding-top: 30px;
}
.forma2{
margin-left: 20px;
text-align: center;
}

.massage{
border-radius: 3px;
padding: 10px;
text-align: center;
font-weight: bolder;
color: rgb(153 7 12);
background-color: #e9ecee;
}

.comm{
  background-color: white;
  padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    box-shadow: 0 0 10px rgb(189 211 220);
}
