/*Информация о авторизированном пользователе*/

.u_articles{
		display: grid;
		grid-template-columns: 13fr 11fr;
}

aside nav{
	margin: 0 0 25px 0;
  margin-bottom: 25px;
	padding: 0;
	background: none;
	margin-top: 90px;
}


aside ul, footer ul{
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
}

aside li, footer li{
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 5px;
	text-align: left;
	border-bottom: 1px solid #6d818c;
	-o-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	text-decoration: none;
}

aside nav ul li a{
	text-decoration: none;
	color: #595b5c;
}

.user_info a{
	text-decoration: none;
	color: #595b5c;
}

.heading{
	font-size: 18px;
color: #000;
font-weight: 400;
margin-bottom: 30px;
padding-bottom: 20px;
border-bottom: 1px solid #e6e6e6;
}
