/*Шапка сайта*/

	header {
		display: flex;
		margin-bottom: 30px;
		position: relative;
		width: 100%;
		background-color: #214252;
		padding: 10px 0;
		color: #ffff;
		margin-left: auto;
		margin-right: auto;

	}

	.header{
		width: 1100px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		max-width: 1320px;
	}
#logo {
		height: 30px; /* Высота блока */
		float: left;
		text-align: center;
    margin-top: 16px;
		}
#logo-text {
		height: 30px; /* Высота блока */
			float: right;
		text-align: center;
	}

#services{
		position: relative;
		display: inline;
	}

	.subMenu{
		top: 35px;
		display: none;
		position: absolute;
		border-radius: 7px;
		padding-bottom: 0;
		padding-left: 0;
		width: 200px;
		background-color: #fff;
	}
	.subMenu a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: center;
}

#main-menu{
		max-width: 1000px;
		margin-right: auto;
		margin-left: auto;
}

#main-menu a{
	padding-bottom: 17px;
	padding-top: 17px;
	color: #ffff;
	font-size: 14px;
}


#services:hover .subMenu{
    display: block;
}


header nav ul{
	display: flex;
	list-style-type: none;
	padding-left: 0px;
	}
header	a{
	text-decoration-line: none;
	margin: 10px;
	padding: 5px;
	}
