<aside>
  <?php
  echo '<div id = "registerBox" class = "forma2 asside">
    <form  class = "formra" id="Register" method="POST">
      <p>Регистрация</p>
      <input id = "lp" type="text" placeholder="Логин" maxlength="25" size="auto" name="rlogin"></p>
        <input id = "lp" type="text" placeholder="Email" maxlength="25" size="auto" name="email"></p>
      <input id = "lp" type="password" placeholder="Пароль" maxlength="25" size="auto" name="rpassword"></p>
      <input id = "lp" type="password" placeholder="Повторите пароль" maxlength="25" size="auto" name="rpassword2"></p>
      <button id = "lpb" type="submit" form="Register">Зарегистрироваться</button>
      <p class = "massage" >'.$_SESSION['massage'].'</p>
      <p style="background-color: #e9ecee;">У вас есть аккаунт? - <a id = "reg" href="/"">авторизируйтесь!</a></p>
    </form>
  </div>';
  ?>
</aside>
